{{- if .Values.csi.enabled }}
apiVersion: piraeus.linbit.com/v1
kind: LinstorCSIDriver
metadata:
  name: {{ template "operator.fullname" . }}
spec:
  enabled: {{ .Values.csi.enabled }}
  imagePullSecret: {{ .Values.drbdRepoCred | quote }}
  linstorPluginImage: {{ .Values.csi.pluginImage | quote }}
  imagePullPolicy: {{ .Values.global.imagePullPolicy | quote }}
  csiControllerServiceAccountName: csi-controller
  csiNodeServiceAccountName: csi-node
  csiAttacherImage: {{ .Values.csi.csiAttacherImage | quote }}
  csiNodeDriverRegistrarImage: {{ .Values.csi.csiNodeDriverRegistrarImage | quote }}
  csiProvisionerImage: {{ .Values.csi.csiProvisionerImage | quote }}
  csiResizerImage: {{ .Values.csi.csiResizerImage | quote }}
  csiSnapshotterImage: {{ .Values.csi.csiSnapshotterImage | quote }}
  linstorHttpsClientSecret: {{ .Values.linstorHttpsClientSecret | quote }}
  priorityClassName: {{ .Values.priorityClassName | default "" | quote }}
  controllerReplicas: {{ .Values.csi.controllerReplicas }}
  controllerEndpoint: {{ template "controller.endpoint" . }}
  nodeAffinity: {{ .Values.csi.nodeAffinity | toJson }}
  nodeTolerations: {{ .Values.csi.nodeTolerations | toJson}}
  controllerAffinity: {{ .Values.csi.controllerAffinity | toJson }}
  controllerTolerations: {{ .Values.csi.controllerTolerations | toJson}}
  enableTopology: {{ .Values.csi.enableTopology }}
  resources: {{ .Values.csi.resources | toJson }}
{{- end }}
