---
  # The service account used by the operator to make API calls
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ template "operator.fullname" . }}
  namespace: {{ .Release.Namespace }}
---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: piraeus-operator
  namespace: {{ .Release.Namespace }}
rules:
  - apiGroups:
      - ""
    resources:
      - pods
      - services
      - endpoints
      - persistentvolumeclaims
      - events
      - configmaps
      - secrets
    verbs:
      - create
      - patch
      - get
      - list
      - delete
      - watch
      - update
  - apiGroups:
      - apps
    resources:
      - deployments
      - daemonsets
    verbs:
      - create
      - patch
      - get
      - list
      - delete
      - watch
      - update
  - apiGroups:
      - apps
    resourceNames:
      - piraeus-operator
    resources:
      - deployments/finalizers
    verbs:
      - update
  - apiGroups:
      - ""
    resources:
      - pods
    verbs:
      - get
  # Created by Deployments, used by the metrics service
  - apiGroups:
      - apps
    resources:
      - replicasets
    verbs:
      - get
      - list
      - watch
  - apiGroups:
      - piraeus.linbit.com
    resources:
      - linstorsatellitesets
      - linstorcontrollers
      - linstorcsidrivers
    verbs:
      - create
      - get
      - list
      - watch
      - update
      - delete
  - apiGroups:
      - piraeus.linbit.com
    resources:
      - linstorsatellitesets/status
      - linstorcontrollers/status
      - linstorcsidrivers/status
      - linstorsatellitesets/finalizers
      - linstorcontrollers/finalizers
      - linstorcsidrivers/finalizers
    verbs:
      - update
  # Potential watches from the CSI controller
  - apiGroups:
      - ""
    resources:
      - serviceaccounts
    verbs:
      - get
      - list
      - watch
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: piraeus-operator
  namespace: {{ .Release.Namespace }}
subjects:
  - kind: ServiceAccount
    name: {{ template "operator.fullname" . }}
    namespace: {{ .Release.Namespace }}
roleRef:
  kind: Role
  name: piraeus-operator
  apiGroup: rbac.authorization.k8s.io
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: csi-driver-registrar
rules:
  - apiGroups:
      - storage.k8s.io
    resources:
      - csidrivers
    resourceNames:
      - linstor.csi.linbit.com
    verbs:
    - get
    - update
    - patch
    - delete
  - apiGroups:
    - storage.k8s.io
    resources:
    - csidrivers
    verbs:
    - create
    - list
    - watch
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: csi-driver-registrar
subjects:
  - kind: ServiceAccount
    name: {{ template "operator.fullname" . }}
    namespace: {{ .Release.Namespace }}
roleRef:
  kind: ClusterRole
  name: csi-driver-registrar
  apiGroup: rbac.authorization.k8s.io
