{{- if .Values.csi.enabled }}
apiVersion: piraeus.linbit.com/v1
kind: LinstorCSIDriver
metadata:
  name: {{ template "operator.fullname" . }}
  namespace: {{ .Release.Namespace }}
spec:
  imagePullSecret: {{ .Values.drbdRepoCred | quote }}
  linstorPluginImage: {{ .Values.csi.pluginImage | quote }}
  imagePullPolicy: {{ .Values.global.imagePullPolicy | quote }}
  csiControllerServiceAccountName: csi-controller
  csiNodeServiceAccountName: csi-node
  csiAttacherImage: {{ .Values.csi.csiAttacherImage | quote }}
  csiLivenessProbeImage: {{ .Values.csi.csiLivenessProbeImage | quote }}
  csiNodeDriverRegistrarImage: {{ .Values.csi.csiNodeDriverRegistrarImage | quote }}
  csiProvisionerImage: {{ .Values.csi.csiProvisionerImage | quote }}
  csiResizerImage: {{ .Values.csi.csiResizerImage | quote }}
  csiSnapshotterImage: {{ .Values.csi.csiSnapshotterImage | quote }}
{{- if ne (int .Values.csi.csiAttacherWorkerThreads) 10 }}
  csiAttacherWorkerThreads: {{ .Values.csi.csiAttacherWorkerThreads }}
{{- end }}
{{- if ne (int .Values.csi.csiProvisionerWorkerThreads) 10 }}
  csiProvisionerWorkerThreads: {{ .Values.csi.csiProvisionerWorkerThreads }}
{{- end }}
{{- if ne (int .Values.csi.csiSnapshotterWorkerThreads) 10 }}
  csiSnapshotterWorkerThreads: {{ .Values.csi.csiSnapshotterWorkerThreads }}
{{- end }}
{{- if ne (int .Values.csi.csiResizerWorkerThreads) 10 }}
  csiResizerWorkerThreads: {{ .Values.csi.csiResizerWorkerThreads }}
{{- end }}
  linstorHttpsClientSecret: {{ include "client.httpsSecretName" . | quote }}
  priorityClassName: {{ .Values.priorityClassName | default "" | quote }}
  controllerReplicas: {{ .Values.csi.controllerReplicas }}
  controllerEndpoint: {{ template "controller.endpoint" . }}
  nodeAffinity: {{ .Values.csi.nodeAffinity | toJson }}
  nodeTolerations: {{ .Values.csi.nodeTolerations | toJson}}
{{- if .Values.csi.controllerAffinity }}
  controllerAffinity: {{ .Values.csi.controllerAffinity | toJson }}
{{- end }}
  controllerTolerations: {{ .Values.csi.controllerTolerations | toJson}}
  enableTopology: {{ .Values.csi.enableTopology }}
  resources: {{ .Values.csi.resources | toJson }}
  kubeletPath: {{ .Values.csi.kubeletPath | quote }}
  {{- if .Values.csi.logLevel }}
  logLevel: {{ .Values.csi.logLevel | quote }}
  {{- end }}
{{- end }}
