apiVersion: piraeus.linbit.com/v1alpha1
kind: LinstorControllerSet
metadata:
  name: {{ template "operator.fullname" . }}-cs
spec:
  priorityClassName: {{ template "operator.fullname" . }}-cs-priority-class
  dbConnectionURL:  {{ .Values.operator.controllerSet.spec.dbConnectionURL | default (print "etcd://" .Release.Name "-etcd:2379") }}
  drbdRepoCred: {{ .Values.drbdRepoCred }}
  controllerImage: {{ .Values.operator.controllerSet.spec.controllerImage }}
  controllerVersion: {{ .Values.operator.controllerSet.spec.controllerVersion }}
