global:
  imagePullPolicy: IfNotPresent # empty pull policy means k8s default is used ("always" if tag == ":latest", "ifnotpresent" else)
  setSecurityContext: true # Force non-privileged containers to run as non-root users
# Dependency charts
etcd:
  enabled: true
  persistentVolume:
    enabled: true
    storage: 1Gi
  replicas: 1 # How many instances of etcd will be added to the initial cluster.
  resources: {} # resource requirements for etcd containers
  image:
    repository: gcr.m.daocloud.io/etcd-development/etcd
    tag: v3.4.15
stork:
  enabled: false
  storkImage: docker.m.daocloud.io/openstorage/stork:2.8.2
  schedulerImage: k8s-gcr.m.daocloud.io/kube-scheduler
  schedulerTag: ""
  replicas: 1
  storkResources: {} # resources requirements for the stork plugin containers
  schedulerResources: {} # resource requirements for the kube-scheduler containers
  podsecuritycontext: {}
csi:
  enabled: true
  pluginImage: quay.m.daocloud.io/piraeusdatastore/piraeus-csi:v0.22.1
  csiAttacherImage: k8s-gcr.m.daocloud.io/sig-storage/csi-attacher:v4.1.0
  csiLivenessProbeImage: k8s-gcr.m.daocloud.io/sig-storage/livenessprobe:v2.9.0
  csiNodeDriverRegistrarImage: k8s-gcr.m.daocloud.io/sig-storage/csi-node-driver-registrar:v2.7.0
  csiProvisionerImage: k8s-gcr.m.daocloud.io/sig-storage/csi-provisioner:v3.4.0
  csiSnapshotterImage: k8s-gcr.m.daocloud.io/sig-storage/csi-snapshotter:v6.2.1
  csiResizerImage: k8s-gcr.m.daocloud.io/sig-storage/csi-resizer:v1.7.0
  csiAttacherWorkerThreads: 10
  csiProvisionerWorkerThreads: 10
  csiSnapshotterWorkerThreads: 10
  csiResizerWorkerThreads: 10
  controllerReplicas: 1
  controllerStrategy: {}
  nodeAffinity: {}
  nodeTolerations: []
  controllerAffinity: {}
  controllerTolerations: []
  enableTopology: true
  resources: {}
  customLabels: {}
  customAnnotations: {}
  kubeletPath: /var/lib/kubelet
  controllerSidecars: []
  controllerExtraVolumes: []
  nodeSidecars: []
  nodeExtraVolumes: []
priorityClassName: ""
drbdRepoCred: "" # <- Specify the kubernetes secret name here
linstorSslMethod: "manual" # <- If set to 'helm' or 'cert-manager' the certificates will be generated automatically
linstorHttpsMethod: "manual" # <- If set to 'helm' or 'cert-manager' the certificates will be generated automatically
linstorHttpsControllerSecret: "" # <- name of secret containing linstor server certificates+key. See docs/security.md
linstorHttpsClientSecret: "" # <- name of secret containing linstor client certificates+key. See docs/security.md
controllerEndpoint: "" # <- override to the generated controller endpoint. use if controller is not deployed via operator
psp:
  privilegedRole: ""
  unprivilegedRole: ""
operator:
  replicas: 1 # <- number of replicas for the operator deployment
  image: quay.m.daocloud.io/piraeusdatastore/piraeus-operator:latest
  affinity: {}
  tolerations: []
  resources: {}
  customLabels: {}
  customAnnotations: {}
  podsecuritycontext: {}
  args:
    createBackups: true
    createMonitoring: true
  sidecars: []
  extraVolumes: []
  controller:
    enabled: true
    controllerImage: quay.m.daocloud.io/piraeusdatastore/piraeus-server:v1.20.3
    dbConnectionURL: ""
    luksSecret: ""
    dbCertSecret: ""
    dbUseClientCert: false
    sslSecret: ""
    affinity: {}
    httpBindAddress: ""
    httpsBindAddress: ""
    tolerations:
      - key: node-role.kubernetes.io/master
        operator: Exists
        effect: NoSchedule
      - key: node-role.kubernetes.io/control-plane
        operator: Exists
        effect: NoSchedule
    resources: {}
    replicas: 1
    additionalEnv: []
    additionalProperties: {}
    sidecars: []
    extraVolumes: []
    customLabels: {}
    customAnnotations: {}
  satelliteSet:
    enabled: true
    satelliteImage: quay.m.daocloud.io/piraeusdatastore/piraeus-server:v1.20.3
    storagePools: {}
    sslSecret: ""
    automaticStorageType: None
    affinity: {}
    tolerations: []
    resources: {}
    monitoringImage: quay.m.daocloud.io/piraeusdatastore/drbd-reactor:v1.0.0
    monitoringBindAddress: ""
    kernelModuleInjectionImage: quay.m.daocloud.io/piraeusdatastore/drbd9-centos7:v9.1.13
    kernelModuleInjectionMode: Compile
    kernelModuleInjectionAdditionalSourceDirectory: ""
    kernelModuleInjectionResources: {}
    kernelModuleInjectionExtraVolumeMounts: []
    additionalEnv: []
    sidecars: []
    extraVolumes: []
    customLabels: {}
    customAnnotations: {}
haController:
  enabled: false
  image: quay.m.daocloud.io/piraeusdatastore/piraeus-ha-controller:v0.3.0
  affinity: {}
  tolerations: []
  resources: {}
  replicas: 1
  customLabels: {}
  customAnnotations: {}
