---
# Source: piraeus/templates/controller-rbac.yml
apiVersion: v1
kind: ServiceAccount
metadata:
  name: linstor-controller
  namespace: default
---
# Source: piraeus/templates/controller-rbac.yml
kind: Role
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: linstor-leader-elector
  namespace: default
rules:
  - apiGroups:
      - coordination.k8s.io
    resources:
      - leases
    verbs:
      - get
      - watch
      - list
      - delete
      - update
      - create
  - apiGroups:
      - ""
    resources:
      - endpoints
      - endpoints/restricted
    verbs:
      - create
      - patch
      - update
---
# Source: piraeus/templates/controller-rbac.yml
kind: RoleBinding
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: linstor-leader-elector
  namespace: default
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: linstor-leader-elector
subjects:
  - kind: ServiceAccount
    name: linstor-controller
---
# Source: piraeus/templates/controller-rbac.yml
# This YAML file contains all RBAC objects that are necessary to run a
# LINSTOR controller pod
