---
# Source: piraeus/templates/operator-serviceaccount.yaml
apiVersion: v1
kind: ServiceAccount
metadata:
  name: piraeus-op
  namespace: default
---
# Source: piraeus/templates/operator-serviceaccount.yaml
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: csi-driver-registrar
rules:
  - apiGroups:
      - storage.k8s.io
    resources:
      - csidrivers
    resourceNames:
      - linstor.csi.linbit.com
    verbs:
      - get
      - update
      - patch
      - delete
  - apiGroups:
      - storage.k8s.io
    resources:
      - csidrivers
    verbs:
      - create
      - list
      - watch
  - apiGroups:
      - storage.k8s.io
    resources:
      - csinodes
    verbs:
      - get
      - list
      - watch
      - patch
      - update
---
# Source: piraeus/templates/operator-serviceaccount.yaml
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: linstor-node-syncer
rules:
  - apiGroups:
      - ""
    resources:
      - nodes
    verbs:
      - get
      - watch
      - list
---
# Source: piraeus/templates/operator-serviceaccount.yaml
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: linstor-backup
rules:
  - apiGroups:
      - apiextensions.k8s.io
    resources:
      - customresourcedefinitions
    verbs:
      - get
      - watch
      - list
  - apiGroups:
      - internal.linstor.linbit.com
    resources:
      - "*"
    verbs:
      - get
      - list
      - watch
---
# Source: piraeus/templates/operator-serviceaccount.yaml
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: csi-driver-registrar
subjects:
  - kind: ServiceAccount
    name: piraeus-op
    namespace: default
roleRef:
  kind: ClusterRole
  name: csi-driver-registrar
  apiGroup: rbac.authorization.k8s.io
---
# Source: piraeus/templates/operator-serviceaccount.yaml
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: linstor-node-syncer
subjects:
  - kind: ServiceAccount
    name: piraeus-op
    namespace: default
roleRef:
  kind: ClusterRole
  name: linstor-node-syncer
  apiGroup: rbac.authorization.k8s.io
---
# Source: piraeus/templates/operator-serviceaccount.yaml
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: linstor-backup
subjects:
  - kind: ServiceAccount
    name: piraeus-op
    namespace: default
roleRef:
  kind: ClusterRole
  name: linstor-backup
  apiGroup: rbac.authorization.k8s.io
---
# Source: piraeus/templates/operator-serviceaccount.yaml
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: piraeus-operator
  namespace: default
rules:
  - apiGroups:
      - ""
    resources:
      - pods
      - services
      - endpoints
      - persistentvolumeclaims
      - events
      - configmaps
      - secrets
    verbs:
      - create
      - patch
      - get
      - list
      - delete
      - watch
      - update
  - apiGroups:
      - apps
    resources:
      - deployments
      - deployments/scale
      - daemonsets
    verbs:
      - create
      - patch
      - get
      - list
      - delete
      - watch
      - update
  - apiGroups:
      - apps
    resourceNames:
      - piraeus-operator
    resources:
      - deployments/finalizers
    verbs:
      - update
  - apiGroups:
      - coordination.k8s.io
    resources:
      - leases
    verbs:
      - create
      - get
      - update
  # Created by Deployments, used by the metrics service
  - apiGroups:
      - apps
    resources:
      - replicasets
    verbs:
      - get
      - list
      - watch
  - apiGroups:
      - piraeus.linbit.com
    resources:
      - linstorsatellitesets
      - linstorcontrollers
      - linstorcsidrivers
    verbs:
      - create
      - get
      - list
      - watch
      - update
      - delete
  - apiGroups:
      - piraeus.linbit.com
    resources:
      - linstorsatellitesets/status
      - linstorcontrollers/status
      - linstorcsidrivers/status
      - linstorsatellitesets/finalizers
      - linstorcontrollers/finalizers
      - linstorcsidrivers/finalizers
    verbs:
      - update
  - apiGroups:
      - monitoring.coreos.com
    resources:
      - servicemonitors
      - podmonitors
    verbs:
      - get
      - watch
      - list
      - create
      - update
      - patch
      - delete
  # Potential watches from the CSI controller
  - apiGroups:
      - ""
    resources:
      - serviceaccounts
    verbs:
      - get
      - list
      - watch
---
# Source: piraeus/templates/operator-serviceaccount.yaml
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: piraeus-operator
  namespace: default
subjects:
  - kind: ServiceAccount
    name: piraeus-op
    namespace: default
roleRef:
  kind: Role
  name: piraeus-operator
  apiGroup: rbac.authorization.k8s.io
---
# Source: piraeus/templates/operator-serviceaccount.yaml
# The service account used by the operator to make API calls
