name: checks
on:
  push:
    tags:
      - v*
    branches:
      - master
      - v2
  pull_request:
jobs:
  golangci:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: '1.21'
      - uses: golangci/golangci-lint-action@v4
        with:
          args: --timeout=3m

  pre-commit:
    runs-on: ubuntu-22.04
    env:
      # These hooks will run separately in github actions
      SKIP: golangci-lint
    steps:
      - uses: actions/checkout@v4
      - name: Setup Go environment
        uses: actions/setup-go@v5
        with:
          go-version: '1.21'
      - uses: actions/setup-python@v5
      - name: Run pre-commit checks on changes files
        uses: pre-commit/action@v3.0.1
